.column-td-4 {
    width: 100%;
  }
  
  .place-col {
    padding: 0;
  }
  .placegrid {
    --grid-gap: 5px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(300px, auto);
    grid-gap: var(--grid-gap);
    margin: 0 calc((var(--grid-gap) / 2) * -1);
  }
  
  @media only screen and (max-width: 1300px) {
    .placegrid {
      grid-template-columns: repeat(4, 1fr);
      --grid-gap: 5px;
    }
  }
  
  @media only screen and (max-width: 992px) {
    .placegrid {
      grid-template-columns: repeat(3, 1fr);
      --grid-gap: 5px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .placegrid {
      grid-template-columns: repeat(2, 1fr);
      --grid-gap: 5px;
    }
  }
  
  @media only screen and (max-width: 550px) {
    .placegrid {
      grid-template-columns: repeat(1, 1fr);
      --grid-gap: 5px;
    }
  }
  
  
  .place-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 11px;
    margin-bottom: 25px;
    box-sizing: border-box;
    background-color: #fff;
    text-align: left;
  }
  
  .card-image-wrap {
    position: relative;
    overflow: hidden;
    aspect-ratio: 20/19;
    flex: 1;
  }
  
  .card-image-wrap img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  
  /*=============================
  Grid Card Styling
  =======================*/
  
  .card-item {
    border: none;
    max-width: 331px;
  }
  
  .card-content {
    margin-top: 9px;
    border: none;
    display: block;
    font-size: 14px;
    line-height: 20px;
  }
  
  .card-content-wrap {
    border: none;
  }

.card-image {
    width: 330px;
    height: 330px;
    border-radius: 0.5rem;
}

.card-img, .card-img-top {
    border-radius: calc(0.25rem - -9px) !important;
}

.card-image .card__img {
    width: 100%;
    border-radius: 0.5rem;
    height: 100%;
}

.card-image:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: all 0.3s;
}

.card-price {
    display: flex;
    align-items: baseline;
    font-weight: 400;
    font-size:14px !important;
    color: #333;
}


.card-price__amount {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    align-items: center;
    letter-spacing: -0.05em;
    color: #444444;
}

.card-price__label {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    align-items: center;
    letter-spacing: -0.05em;
    color: #B4B4B4;
}

.card-title {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 15px;
    letter-spacing: -0.05em;
    color: #1B1B1B;
    font-weight: 500;
margin-bottom: 4px;
margin-top: 0 !important;
}

.card-sub {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17.1943px;
    letter-spacing: -0.05em;
    color: #666;
    margin-bottom: 4px;
}
