.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #1d1d1f;
  }
  
  .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-list li {
    margin: 0 20px;
  }
  
  .nav-link {
    color: #b5b5bc;
    font-weight: 400;
    font-size: 13px;

    text-decoration: none;
  }
  
  .nav-link:hover {
    color: #ffffff;
  }
  